<div class="row" style="height: 390px;width:80%">
  <div class="col-md-2">
  </div>
  <div class="col-md-10">
    <h3>Morning activities</h3>
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="wmActivities"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>

    <h3>Afternoon activities</h3>
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="waActivities"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>

    <h3>Leisure activities</h3>
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="weActivities"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
  </div>
</div>
