<div class="row" style="height: 390px;width:80%">
  <div class="col-md-6">
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="wmActivities"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
  </div>
  <div class="col-md-6">
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="waActivities"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
  </div>
</div>
<div class="row" style="height: 390px;">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="weActivities"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
  </div>
  <div class="col-md-3">
  </div>
</div>
