<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">BERLO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/explore" routerLinkActive="active-link">Explore <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search" routerLinkActive="active-link">Search</a>
      </li>
      <li class="nav-item">
        <a [ngClass]="isDisabled()" routerLink="/compare" routerLinkActive="active-link">Compare</a>
      </li>
      <li class="nav-item">
        <span *ngFor="let loc of compareList" class="fragment" href="google.com">{{ loc }} <a id="close" (click)="delete($event)"> x</a>
        </span>
      </li>

    </ul>

  </div>
</nav>
