<app-header></app-header>

<div class="row" style="height: 390px;width:80%">
  <div *ngFor="let i of indexList" class="col-md-4">
    <h2>{{cList[i]}}</h2>
    <p>area: {{geoData[i].area}}</p>
    <p>population: {{geoData[i].population}}</p>
    <p>density: {{geoData[i].density}}</p>
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="genderData[i]"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="nationalityData[i]"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
    <ngx-charts-bar-vertical
      [view]="view"
      [scheme]="colorScheme"
      [results]="ageData[i]"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="wmActivities[i]"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>

    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="waActivities[i]"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>

    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="weActivities[i]"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
  </div>
</div>

