<app-header></app-header>
<div class="container">
<div class="row" style="height: 390px;width:80%">
  <div *ngFor="let c of cList" class="col-md-4">
    <h2>{{c}}</h2>
    <p>area: {{geoData[c].area}}</p>
    <p>population: {{geoData[c].population}}</p>
    <p>density: {{geoData[c].density}}</p>
    <h3>Gender</h3>
    <h5>{{c}}</h5>
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="genderData[c]"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
    <hr/>
    <h3>Nationality</h3>
    <h5>{{c}}</h5>
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="nationalityData[c]"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
    <hr/>
    <h3>Age</h3>
    <h5>{{c}}</h5>
    <ngx-charts-bar-vertical
      [view]="view"
      [scheme]="colorScheme"
      [results]="ageData[c]"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
    <hr/>
    <h3>Morning activities</h3>
    <h5>{{c}}</h5>
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="wmActivities[c]"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
    <hr/>
    <h3>Afternoon activities</h3>
    <h5>{{c}}</h5>
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="waActivities[c]"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
    <hr/>
    <h3>Leisure activities</h3>
    <h5>{{c}}</h5>
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="weActivities[c]"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
  </div>
</div>
</div>
