<app-header></app-header>
<div id="exploremain" class="row">
  <div class="col-md-7">
    <p>Please select a localty by clicking the map.</p>
    <p>Your selection: {{selected}}</p>
    <button *ngIf="isSelected()" class="btn-primary"(click)="addToCompareList()">add to compare list</button>
    <br>
    <button *ngIf="isSelected()" class="btn-primary"(click)="showFacts()">show facts</button>
    <br>
    <button *ngIf="isSelected()" class="btn-primary"(click)="showActivities()">show activities</button>
  </div>
  <div class="col-md-5">
    <app-map (onSelected)="onSelected($event)"></app-map>
  </div>
</div>



